@keyframes reveal-non-opacity {
  0%, 50%   {color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);}
  100% {color: white; border-color: white;}
}

.Introduction {
	text-align: left;
	text-indent: 2em;
}

.Steps_Section_Container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 50px;
	background: #f0f0f0;
	border-radius: 50px;
	box-shadow: 10px 10px 50px 5px rgba(80, 104, 117, 0.3);
}

.Steps_Section {
	display: flex;
	color: #71767a;
	margin-top: 100px;
}

.Steps_Section div span {
	font-size: 50pt;
}

.Steps_Section img {
	margin: 0 50px;
}

.Steps_Section_Title {
	font-size: 30pt;
	line-height: 1.3em;
	margin: 0 0 0.3em 0;
}

.Steps_Section_Body {
	font-size: 15pt;
	font-family: 'Montserrat', sans-serif;
}

.Steps_Section_Apply {
	width: 50%;
	text-align: right; 
}

.Main_Title {
	transform: translate3d(0,0,0);
	font-size: 60pt;
	transform: translateY(4px);
	background-image: linear-gradient(45deg, white, lightblue);
}

.Banner {
	height: 100vh;
	background-image: url('./assets/10-full.jpg'), url('./assets/10-low.jpg');
	transform: translateZ(0);
	background-position: 50% 70%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0 auto;
	align-items: center;
	text-align: center;
	position: sticky;
	top: 0;
}

.avif .Banner {
	background-image: url('./assets/10-full.avif'), url('./assets/10-low.jpg');
}

.webp .Banner {
	background-image: url('./assets/10-full.webp'), url('./assets/10-low.jpg');
}

.Title_Container {
	display: inline-block;
	background: rgba(0, 0, 0, 0.7);
	border: 2px solid white;
	padding: 4px 40px;
}

.Read_More_Btn {
	opacity: 1;
	background: none;
	border: none;
	font-size: 15pt;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: min(10vh, 90px);
	color: rgba(255, 255, 255, 1);
	padding: 2px 0;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	animation: reveal-non-opacity 2s;
	transition: opacity 300ms, border-color 300ms;
}

.Read_More_Btn:hover {
	opacity: 0.7;
	border-color: rgba(255, 255, 255, 0) !important;
}

@media (max-width: 900px) {
	.Main_Title {
		font-size: 8vw;
		max-width: 85vw;
	}
	.Steps_Section_Container {
		padding: 50px 40px;
	}
	.Steps_Section {
		display: block;
		text-align: center !important;
	}
	.Steps_Section img {
		margin: 0;
	}
	.Steps_Section_Title {
		font-size: 25pt;
	}
	.Steps_Section_Body {
		max-width: 70vw;
		margin: 0 auto;
	}
	.Steps_Section_Apply {
		text-align: center;
		width: 100%;
		margin: 20px auto 0 auto;
	}
	.Introduction {
		text-align: center;
		text-indent: 0;
		max-width: 70vw;
		font-size: 15pt;
		padding: 0 !important;
	}
	.Banner {
		height: max(350px, 40vh) !important;
	}
	.Title_Container {
		background: none;
		border: none;
	}

	.Read_More_Btn {
		visibility: hidden;
	}
}

@media (max-height: 450px) {
	.Read_More_Btn {
		opacity: 0 !important;
	}
}